In [1]:
print("hi")

hi

In [2]:
print ("hi")

hi

In [3]:
## two types of comments
## single line comment, start with #
# multi line comment, start and end with """  """
## ctrl + / --> to auto commment and uncomment

In [4]:
"""
multiple comment
example
"""

'\nmultiple comment\nexample\n'

In [5]:
input("enter your name")

enter your namePurushothaman

'Purushothaman'

In [6]:
## variable = values
## variable should not be start with numbers but it may comes inbetween or at the end
## python is case sensitive
## special character should not included in variale name
##_ is not consider as special character in python

In [7]:
## example
a = "Purushothaman"

In [8]:
print(a)

Purushothaman

In [9]:
a = input("enter a value")

enter a value56

In [10]:
print(a)

56

In [11]:
##string
## anything comes under "" will be string!
a = "test"

In [12]:
## one of the method to find the data type
print(type(a))

<class 'str'>

In [13]:
## another method to find the datatype
print(isinstance(a,str))

True

In [14]:
a = "Roger Fedrer"

In [15]:
print(len(a))## print the length of the character
print(min(a))## print the minimum character 
print(max(a))## print the maximum character
print(sorted(a))## print the sorted character

12

r
[' ', 'F', 'R', 'd', 'e', 'e', 'e', 'g', 'o', 'r', 'r', 'r']

In [16]:
print(a.isalpha())
print(a.isalnum())
print(a.isupper())
print(a.islower())
print(a.isdigit())
print(a.upper())
print(a.lower())
print(a.swapcase())

False
False
False
False
False
ROGER FEDRER
roger fedrer
rOGER fEDRER

In [17]:
## Start:End:Interval

In [18]:
print(a[0:5])

Roger

In [19]:
print(a[::2])

RgrFde

In [20]:
print(a[-1])## to print the last value

r

In [21]:
print(a[::-1])##To print the character in reverse order

rerdeF regoR

In [22]:
## get last letter in a name without using reverse index
## using input get a name check its alphabatic
##using input get a number and check it is number or not
##using input get a password check it is alphanumeric and in lower case or not

In [25]:
## using input get a name check its alphabatic
name = input("Enter your name")

Enter your namepurushothaman

In [26]:
print(name.isalpha())

True

In [27]:
##using input get a number and check it is number or not
number = input("Enter your number:")

Enter your number:purushothaman

In [28]:
print(isinstance(number,int))

False

In [29]:
##using input get a password check it is alphanumeric and in lower case or not
password = input("Enter your password")

Enter your passwordpurushoth123

In [30]:
print(password.isalnum())
print(password.islower())

True
True

In [31]:
## get last letter in a name without using reverse index
name1 = input("Please enter your name:")

Please enter your name:purushothaman

In [32]:
a = len(name1)-1
print(name1[a])

n

In [33]:
a="sachin tendulkar"

In [34]:
## indexing
print(a.index("a"))

1

In [35]:
## to set the indexing limit
print(a.index("a",2,15))

14

In [36]:
## R index

In [37]:
## difference between index and find
"""
index will give error while the character is not in the string
find will not give the error but give "-1" if the character is not found in the string
"""

'\nindex will give error while the character is not in the string\nfind will not give the error but give "-1" if the character is not found in the string\n'

In [38]:
## r indexing - Reverse indexing
print(a.rindex("a"))

14

In [39]:
## difference between index and find
print (a.index("z"))

ValueError: substring not found

In [43]:
print (a.find("a"))

1

In [41]:
# r find - find in reverse direction
print (a.rfind("z"))
print (a.rfind("a"))

-1
14

In [42]:
#split
print (a.split("a"))
print (a.split("a",1))

['s', 'chin tendulk', 'r']
['s', 'chin tendulkar']

In [19]:
#replace
print (a.replace("a", "#"))
print(a.replace("a","#",1))

s#chin tendulk#r
s#chin tendulkar

In [20]:
#count
print (a.count("a"))

2

In [21]:
#print starts with
print (a.startswith("s"))

True

In [22]:
#print ends with
print (a.endswith("r"))

True

In [23]:
## strip will be used to remove the space
## strip() will remove space in both end
## lstrip() will remove the space in the start
## rstrip() will remove the space in the end

In [24]:
a = " hello welcome "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

hello welcome
hello welcome
 hello welcome

In [25]:
##integer
a = "123"
b = 123

In [27]:
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [29]:
print(isinstance(a,str))
print(isinstance(b,int))

True
True

In [34]:
## data type casting - change the datatype only if it is valid
a = "123"
b = int(a)
print(b)
print(type(b))

123
<class 'int'>

In [35]:
c = float(a)
print(c)
print(type(c))

123.0
<class 'float'>

In [47]:
## get a input as a number from user and check the data type
a = int(input ("Please enter the number:"))

Please enter the number:9842676177

In [48]:
print(type(a))

<class 'int'>

In [59]:
##get the mail id as input and split the user name & mail type
mail_id = input("Please enter your mail Id:")

Please enter your mail Id:purushoth@gmail.com

In [60]:
a = mail_id.split("@")
c = a[1].split(".")
print(a[0])
print(c[0])

purushoth
gmail

In [61]:
## remove all the character in the strings
string = "welcome to todays class"
print(string.replace(" ",""))

welcometotodaysclass

In [1]:
a = ["kiran", "25", "madurai"]

In [2]:
print(type(a))

<class 'list'>

In [3]:
print(isinstance(a.str))

AttributeError: 'list' object has no attribute 'str'

In [4]:
print(min(a))
print(max(a))
print(sorted(a))

25
madurai
['25', 'kiran', 'madurai']

In [23]:
a = ["kiran", 25, "madurai"]
print(min(a))

TypeError: '<' not supported between instances of 'int' and 'str'

In [24]:
print(a[0])

kiran

In [25]:
print(a[::-1])

['madurai', 25, 'kiran']

In [26]:
## To print string in reverse order
print(list(reversed(a)))

['madurai', 25, 'kiran']

In [27]:
a.index("kiran")

0

In [28]:
print(a.index(25))
print(a.index("madurai"))

1
2

In [29]:
#rindex and rfind will not work on the list
## only index will work in the list

print(a.rindex("kiran"))
print(a.rindex(25))
print(a.rindex("madurai"))

AttributeError: 'list' object has no attribute 'rindex'

In [30]:
## for adding and removing below comments will be used
## append - to add the element in the last
## insert - to add the element in desire place
## remove - to remove the specific character in the list
## del - delete the element using index value

In [31]:
a.append("test")
print(a)

['kiran', 25, 'madurai', 'test']

In [32]:
a.insert(2,"demo")
print(a)

['kiran', 25, 'demo', 'madurai', 'test']

In [33]:
a.remove("test")
print(a)

['kiran', 25, 'demo', 'madurai']

In [34]:
del a[2]
print(a)

['kiran', 25, 'madurai']

In [35]:
#pop - move the last element and assign it into the another variable
b = a.pop()
print(a)
print(b)

['kiran', 25]
madurai

In [42]:
## shallow copy - same memory
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [44]:
##Deep copy - different memory
a = [1,2,3]
b = a.copy()
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [45]:
#tuble - it can not be modified
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [52]:
## commented line are not work in tuple
print(min(a))
print(max(a))
print(sorted(a))
print(a.index(1))
# print(a.rindex(1))
# print(a.find(1))
# print(a.rfind(1))
# print(a.reverse())
print(a[::-1])

1
4
[1, 2, 3, 4]
0
(4, 3, 2, 1)

In [53]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
##
#["hello","hi","welome"] -- e take the last letter from the last string.
a = ["hello", "hi", "welcome"]
b = a.pop()
print (b[-1])

e

In [1]:
a = ["hello", "hi", "welcome"]

print(a[-1][-1])

e

In [1]:
##set 
## index, rindex, find will not work
a = {1,2,3,4,5,6,3,2,2}

In [2]:
print(a)

{1, 2, 3, 4, 5, 6}

In [3]:
print(sorted(a))

[1, 2, 3, 4, 5, 6]

In [19]:
a = {1,2,3,4,5}
b = {5,6,7,8,9,10}

In [20]:
## union
print(a.union(b))
## intersection
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5}

In [22]:
## difference
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4}
{6, 7, 8, 9, 10}

In [24]:
a={1,2,3}
b = {1,2,3,4,5,6}
## subset
print(a.issubset(b))
print(b.issubset(a))

True
False

In [25]:
## superset
print(a.issuperset(b))
print(b.issuperset(a))

False
True

In [43]:
## Dictionaries
a = {"name" : "arun", "age" : 25, "loc" : "chennai" }

In [44]:
print(type(a))

<class 'dict'>

In [45]:
## length take the key value from the dictionary
print(len(a))

3

In [46]:
print(min(a))
print(max(a))
print(sorted(a))

age
name
['age', 'loc', 'name']

In [47]:
print(a.keys()) # to get the keys
print(a.values()) # to get the values
print(a.items()) ## to get the keys and values in tuples

dict_keys(['name', 'age', 'loc'])
dict_values(['arun', 25, 'chennai'])
dict_items([('name', 'arun'), ('age', 25), ('loc', 'chennai')])

In [48]:
print(a)

{'name': 'arun', 'age': 25, 'loc': 'chennai'}

In [49]:
## To add the keys and values in the dictionary
a["test"] = "name"
print(a)

{'name': 'arun', 'age': 25, 'loc': 'chennai', 'test': 'name'}

In [50]:
a = {'name': 'arun', 'age': 25, 'loc': 'chennai', 'test': 'name', 'name' : 'purushoth'}## if same keys present in the dictionary then last key will only present. last one will be removed.
print(a)

{'name': 'purushoth', 'age': 25, 'loc': 'chennai', 'test': 'name'}

In [51]:
#delete
del a['test']
print(a)

{'name': 'purushoth', 'age': 25, 'loc': 'chennai'}

In [52]:
## to get the values from dict.
print(a["age"])
print(a.get('age'))

25
25

In [53]:
print(a['try'])

KeyError: 'try'

In [54]:
print(a.get('try'))

None

In [55]:
print(a.get('try',"nothing"))##

nothing

In [56]:
print(a.get('age','nothing'))

25

In [58]:
## to get/remove the last element in the dict.
b = a.popitem()
print(b)
print(a)

('age', 25)
{'name': 'purushoth'}

In [1]:
## arthmetic operators
a=5
b = 3

In [3]:
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)## floor division gives the Quotient values
print(a%b)## modulus gives the remainder values

8
2
15
125
1.6666666666666667
1
2

In [6]:
##relational operator
a=5
b=3
print(a==b) ## equal to
print(a!=b)##not equal to
print(a<b)##less than
print(a>b)##Greater than
print(a<=b)##less than or equal to
print(a>=b)## greater than or equal to

False
True
False
True
False
True

In [7]:
## assignment operator "="
c=7

In [8]:
## Logical operator
## AND two condition should be satisfied
print(True and True)
print(True and False)

True
False
True
True
False
True

In [9]:
## OR any one condition should be satisfied
print(True or True)
print(True or False)

True
True

In [10]:
##NOT operator Reversal
print(not True)
print(not False)

False
True

In [11]:
## loops
## if
## while
## for

In [13]:
## if --> conditional statement
name = "test"

if name == "test":
    print("yes")
else:
    print("No")

yes

In [17]:
## if else statement
name = "Sachin"
score = 80

In [18]:
if name.lower()== "sachin" and score < 50:
    print("fail")
elif name.lower()== "sachin" and score > 50:
    print("pass")
elif name.lower()== "sachin" and score > 75:
    print("Distinction")
else:
    print("grade A")

pass

In [19]:
## if else loop will stop at first condition which satisfy.
## if all other condition are fail then only it take the else statement

In [21]:
## Nested IF loop statement
if name.lower() == "sachin":
    if score <50:
        print("fail")
    elif score > 50:
        print("pass")
else:
    print("name is not sachin")

pass

In [1]:
## while loop
## example for while loop
i = 1
while i<5:
    print(i)
    i = i+1

1
2
3
4

In [2]:
## FOR loop
a = ["Hi", "Hello", "Welcome"]

In [1]:
a = {"name":"mugesh", "age":25, "loc" : "chennai"}

In [3]:
for i in a:
    print (i)

Hi
Hello
Welcome

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
i= list()
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [12]:
for i in range(5,10,2):
    print(i)

5
7
9

In [2]:
for i in a.keys():
    print(i)

name
age
loc

In [3]:
for i in a.items():
    print(i)

('name', 'mugesh')
('age', 25)
('loc', 'chennai')

In [5]:
for k,v in a.items():
    print("Key is",k,"the value is:", v)

Key is name the value is: mugesh
Key is age the value is: 25
Key is loc the value is: chennai

In [7]:
## print even number from 0 to specified number
## 0,2,4,6,8
a = int(input ("please enter a number:"))
print(list(range(0,a,2)))

please enter a number:20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
##
l = []
b = int(input("Please enter a number:"))
## for even numbers
for i in range(b):
    if (i%2) == 0:
        l.append(i)
print(l)

Please enter a number:10
[0, 2, 4, 6, 8]

In [19]:
l = []
c = int(input("Please enter a number:"))
## for printing odd numbers

for i in range(c):
    if (i%2) == 1:
        l.append(i)
        
print(l)

Please enter a number:30
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [17]:
## To get user name and mail in different list without duplicates
# a = mail_id.split("@")
# c = a[1].split(".")
# print(a[0])
# print(c[0])

In [7]:
User_name = set()
User_mail = set()

a = ["test@gmail.com", "train@gmail.com", "Hello@yahoo.com", "test@yahoo.com"]

for i in a:
     split = i.split("@")
     name = split[0]
     User_name.add(name)
     mail = split[-1].split(".")[0]
     User_mail. add(mail)
    
print(list(User_name))
print(list(User_mail))

['Hello', 'train', 'test']
['yahoo', 'gmail']

In [4]:
## Function
def test(a,b):
    print(a+b)

In [6]:
test(5,6)

11

In [7]:
## return to get the input and to exit from the loop
def add(a,b):
    print("before return")
    return(a+b)
    print("after return")

In [9]:
op = add(3,7)

before return

In [10]:
print(op)

10

In [16]:
## Local and global variable
a = "test" ## global variable

def test():
    global a
    a = "hi" ## local variable
    print(a)

print(a)

test()

print(a)

test
hi
hi

In [17]:
## to change local variable to global variable
## Local and global variable
a = "test" ## global variable

def test():
    global a ## to convert local variable to global variable
    a = "hi" ## local variable
    print(a)

print(a)

test()

print(a)

test
hi
hi

In [19]:
## multiply 3 number

def multiply_number(a,b,c):
    d = (a*b*c)
    return d

In [20]:
multiply_number(3,7,4)

84

In [21]:
## even/odd based on 
##multi
## first,mid, last name
## get input and swap

In [1]:
## TO GET MULTIPLE INPUT IN A FUNCTION USE ARGS
def test(*args):## positional arguments
    print(args)

In [2]:
test("name", "loc", "age")

('name', 'loc', 'age')

In [11]:
## to get multiple input as key (set) in function use KARGS
def test(**kwargs):
    print(kwargs)

In [12]:
test(name = "mugesh", age = 25, loc = "chennai")

{'name': 'mugesh', 'age': 25, 'loc': 'chennai'}

In [13]:
##inline function
a = lambda a,b: a+b
a(5,5)

10

In [15]:
def test(a,b):
    return a+b
c = test(3,6)
print(c)

9

In [16]:
a = lambda a,b,c: a*b*c
a(3,5,6)

90

In [17]:
##positional arguments
##keywords arguments

In [19]:
## in function define the three arguments, but while calling  pass only two arguments and perform multiply
## get name, add, phone as kwargs, parse it  and print
## write a lambda to multiply abc,5

In [6]:
##file handling
file = open(r"C:\Users\ELCOT\Desktop\PYTHON\text\EXAMPLE.TXT", "r")
print(file)
a = file.read()
print(a)
file.close()

<_io.TextIOWrapper name='C:\\Users\\ELCOT\\Desktop\\PYTHON\\text\\EXAMPLE.TXT' mode='r' encoding='cp1252'>
hi
hello
welcome

In [3]:
file = open(r"C:\Users\ELCOT\Desktop\PYTHON\EXAMPLE1.TXT", "w")
file.write("hi\n\hello\nwelcome")
file.close()

In [1]:
## class
class car():
    def speed(self):
        print("car speed")
    def acc(self):
        print("car acc")

In [2]:
class truck():
    def speed(self):
        print("truck speed")
    def acc(self):
        print("truck acc")

In [3]:
a = car()

In [5]:
print (car)

<class '__main__.car'>

In [6]:
print(a)

<__main__.car object at 0x000001B5A766CDC0>

In [7]:
a.speed()

car speed

In [24]:
##calculator

class calculator():
    def add(self,b=1,c=1):
        print(b+c) 
    def sub(self,b=1,c=1):
        print(b-c)
    def multiply(self,b=1,c=1):
        print(b*c)

In [25]:
a = calculator()

In [32]:
print(a.add(3,4))
print(a.sub(8,4))
print(a.multiply(4,7))

7
4
28

In [27]:
class calculator():
    def add(self,b=1,c=1):
        print(b+c) 
    def sub(self,b=1,c=1):
        print(b-c)
    def multiply(self,b=1,c=1):
        print(b*c)

In [33]:
a=calculator()
print(a.sub(6,12))

-6

In [38]:
class hotel():
    
    def __init__(self,a): ##constructor
        self.a = a
    
    def floor(self):
        if self.a ==1:
            print("veg floor")
        elif self.a == 2:
            print("non veg floor")
    
    def dish(self):
        if self.a ==1:
            print("veg dish")
        elif self.a == 2:
            print("non veg dish")

In [39]:
a = hotel(1)

In [40]:
a.floor()
a.dish()

veg floor
veg dish

In [41]:
b=hotel(2)
b.floor()
b.dish()

non veg floor
non veg dish

In [7]:
##single inheritence

class calc():
    def add(self,a,b):
        print(a+b)
        
class calc1(calc):
    def sub(self,a,b):
        print(a-b)

In [8]:
a = calc1()

a.add(6,9)
a.sub(6,9)

15
-3

In [11]:
##multiple inheritence

class calc():
    def add(self,a,b):
        print(a+b)
        
class calc1(calc):
    def sub(self,a,b):
        print(a-b)

class calc2(calc1):
    def mul(self,a,b):
        print(a*b)

In [12]:
a= calc2()

a.add(9,6)
a.sub(9,6)
a.mul(9,6)

15
3
54

In [13]:
## multilevel inheritance

class calc():
    def add(self,a,b):
        print(a+b)
        
class calc1():
    def sub(self,a,b):
        print(a-b)

class calc2(calc,calc1):
    def mul(self,a,b):
        print(a*b)

In [14]:
a= calc2()

a.add(9,6)
a.sub(9,6)
a.mul(9,6)

15
3
54

In [15]:
##hirerachical inheritance

In [23]:
class parent():
    
    def __init__(self):
        self.name = "Parent"
        
class child(parent):
    def __init__(self):
        super().__init__()
        self.demo = "demo"
        
    def test(self):
        print("test")

In [26]:
a = child()
print(a.name)
a.demo
a.test()

Parent
test

In [38]:
##multiple hirarchical

class parent():
    
    def __init__(self):
        self.name = "Parent"
        
class child():
    def __init__(self):
        self.demo = "demo"
    def test(self):
        print("test")
        
class grand_child(parent,child):
    def __init__(self):
        super().__init__()
        super(parent,self).__init__()
        self.try1 = "try"
        
    def test1(self):
        print("test1")

In [39]:
a = grand_child()

print(a.name)
print(a.demo)
a.test1()
a.try1

Parent
demo
test1

'try'

In [12]:
a = grand_parent()
print(a.name)
print(a.demo)
a.test()
# print(try1)
a.test1()

Parent
demo
test

NameError: name 'test1' is not defined

In [7]:
## abstract method 

from abc import ABC, abstractmethod

class cricket(ABC):
    @abstractmethod
    def bat(self):
        pass
    @abstractmethod
    def ball(self):
        pass
    
class play(cricket):
    
    def bat(self):
        print("bat")
        
    def ball(self):
        print("ball")
        
    def stump(sef):
        print("stump")

In [8]:
a = play()

In [10]:

from abc import ABC, abstractmethod

class cricket(ABC):
    @abstractmethod
    def bat(self):
        pass
    @abstractmethod
    def ball(self):
        pass
    
class play(cricket):
    
    def bat(self):
        print("bat")
        
    def ball1(self):
        print("ball")
        
    def stump(sef):
        print("stump")
        
a =play()

TypeError: Can't instantiate abstract class play with abstract method ball

In [1]:
## encapulation

## public: can be used or changed anywhere (inside or outside the class)
## Protected:  can be used or changed only by the parent or child classes. It starts with _
## Private:  can be used or changed only by the parent class. it starts with __

In [2]:
## public class

class parent():
    
    def __init__(self):
        self.name = "Parent"

In [4]:
a = parent()
a.name

'Parent'

In [7]:
a.name = "child" ## Public can be changed anywhere
print(a.name)

child

In [24]:
## private method

class parent():
    
    def __init__(self):
        self.__name = "Parent"

In [25]:
a= parent()
a.name

AttributeError: 'parent' object has no attribute 'name'

In [26]:
class parent():
    
    def __init__(self):
        self.__name = "Parent"
        
    def display(self):
        print(self.__name)
    
    def change(self,a):
        self.__name = a

In [27]:
a = parent()

In [28]:
a.display()

Parent

In [29]:
a.change("child")
a.display()

child

In [30]:
## types of OOPS concept
#Inheritence
#Encapulation
#polymhorphism
#abstract

In [1]:
l = []

for i in range(10):
    if i%2 ==0:
        l.append(i)
        
print(l)

[0, 2, 4, 6, 8]

In [1]:
## types of variable

class test():
    name = "Demo" #static variable
    
    def __init__(self,a):
        self.a = a  #instance  variables
        
    def car(self):
        b = "try" # local variable
        print("car")

In [5]:
a = test("asjf")
#a - reference variables
print(a.car())

car
None

In [10]:
##static method

class calc():
    
    def __init__(self):
        self.name = 'age'
    
    def add(self):
        print("add")
        
    def sub(self):
        print("sub")
        
    def test():##static method (it can not be used in instance of a class)
        print("test")

In [11]:
a = calc()
print(a.add())

add
None

In [12]:
calc.test()## without calling static function will be used directly

test

In [2]:
##bubble sorting

a = [5,3,4,2,1]

In [3]:
for i in range(len(a)):
    for j in range(0,len(a)-i-1):
        if a[j] > a[j+1]:
            a[j], a[j+1] = a[j+1], a[j]
        print(a)
    print("*********")

[3, 5, 4, 2, 1]
[3, 4, 5, 2, 1]
[3, 4, 2, 5, 1]
[3, 4, 2, 1, 5]
*********
[3, 4, 2, 1, 5]
[3, 2, 4, 1, 5]
[3, 2, 1, 4, 5]
*********
[2, 3, 1, 4, 5]
[2, 1, 3, 4, 5]
*********
[1, 2, 3, 4, 5]
*********
*********

In [9]:
for i in range(len(a)):
    for j in range(0,len(a)-i-1):
        
        print(j)
    print("****")

0
1
2
3
****
0
1
2
****
0
1
****
0
****
****